<h1>New CASA Case</h1>

<br>

<div class="row">
  <div class="col-sm-6">
    <%= form_with(model: @casa_org, local: true, url: all_casa_admins_casa_orgs_path) do |form| %>
      <%= render "/shared/error_messages", resource: @casa_org %>

      <div class="field form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <br>

      <div class="actions">
        <%= form.submit "Create CASA Organization", class: "btn btn-primary" %>
        <%= return_to_dashboard_button %>
      </div>
    <% end %>
  </div>
</div>
<br>

